<a href="https://colab.research.google.com/github/menach123/code_war/blob/master/London_CityHacker.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### London CityHacker

You are given a sequence of a journey in London, UK. The sequence will contain bus **numbers** and TFL tube names as **strings** e.g.
```
['Northern', 'Central', 243, 1, 'Victoria']
```
Journeys will always only contain a combination of tube names and bus numbers. Each tube journey costs `£2.40` and each bus journey costs `£1.50`. If there are `2` or more adjacent bus journeys, the bus fare is capped for sets of two adjacent buses and calculated as one bus fare for each set.

Your task is to calculate the total cost of the journey and return the cost `rounded to 2 decimal places` in the format (where x is a number): `£x.xx`

In [1]:
def london_city_hacker(journey): 
    # List of costs

    cost_list = [2.40 if type(i) == str else 1.50 for i in journey]

    # Removing bus duplicate fares
    for i in range(1,len(cost_list)):
        
        if (cost_list[i-1]*10% 15 ==0) & (cost_list[i] == 1.50):
            cost_list[i-1] =.75
            cost_list[i] =.75 
              
    # Summing and Rounding Cost
    
    cost = str(round(float(sum(cost_list)), 2))
    
    return "£"+ cost+"0" if len(cost.split('.')[-1]) == 1 else "£"+ cost

In [2]:
journey = [12, 'Central', 'Circle', 21]

In [3]:
# determine the how string detection strategy will work.

for i in journey:
    if type(i) is str:
        print(i)

Central
Circle

In [4]:
london_city_hacker([12, 'Central', 'Circle', 21]), "£7.80"

('£7.80', '£7.80')

In [5]:
london_city_hacker(['Northern', 'Central', 'Circle']), "£7.20"

('£7.20', '£7.20')

In [6]:
london_city_hacker(['Piccidilly', 56, 93, 243]), "£5.40"

('£5.40', '£5.40')

In [7]:
london_city_hacker([386, 56, 1, 876]), "£3.00"

('£3.00', '£3.00')