In this kata we want to convert a string into an integer. The strings simply represent the numbers in words.

### Examples:

* "one" => 1
* "twenty" => 20
* "two hundred forty-six" => 246
* "seven hundred eighty-three thousand nine hundred and nineteen" => 783919
### Additional Notes:

* The minimum number is "zero" (inclusively)
* The maximum number, which must be supported is 1 million (inclusively)
* The "and" in e.g. "one hundred and twenty-four" is optional, in some cases it's present and in others it's not
* All tested numbers are valid, you don't need to validate them

In [1]:
a = {'one': 1,   'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6, 
    'seven': 7, 'eight': 8,  'nine': 9,  'ten': 10, 'eleven': 11, 
    'twelve': 12, 'thirteen': 13, 'fourteen': 14, 'fifteen': 15,
    'sixteen': 16, 'seventeen': 17, 'eighteen': 18, 'nineteen': 19,
    'twenty': 20, 'thirty': 30,  'forty': 40, 'fifty': 50, 'sixty': 60,
    'seventy': 70, 'eighty': 80, 'ninety': 90, "hundred":100, "thousand": 1000,
     "million":1000000}

In [2]:
def tens(string):
    if '-' in string:
        string = a[string.split('-')[0]]+ a[string.split('-')[-1]]
    else:
        string = a[string]
    
    return string

In [3]:
print(tens('twenty'))
print(tens('forty-six'))
print(tens('eighty-three'))

20
46
83

In [4]:
def hundreds(string):
    string = string.split(' hundred ')
    x = a['hundred']
    if len(string) == 1:
        string = tens(string[0])
    else:
        string[0] = tens(string[0])*x 
        string[1] = tens(string[1])
    return sum(string)

In [5]:
hundreds("seven hundred eighty-three")

783

In [6]:
s = "one million"
s = s.split(' thousand ')
s[0] = s[0].split(' million ')
s

[['one million']]

In [69]:
a = {'zero':0, 'one': 1,   'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6, 
    'seven': 7, 'eight': 8,  'nine': 9,  'ten': 10, 'eleven': 11, 
    'twelve': 12, 'thirteen': 13, 'fourteen': 14, 'fifteen': 15,
    'sixteen': 16, 'seventeen': 17, 'eighteen': 18, 'nineteen': 19,
    'twenty': 20, 'thirty': 30,  'forty': 40, 'fifty': 50, 'sixty': 60,
    'seventy': 70, 'eighty': 80, 'ninety': 90, "hundred":100, "thousand": 1000,
     "million":1000000}
def tens(string):
    if '-' in string:
        string = a[string.split('-')[0]]+ a[string.split('-')[-1]]
    else:
        string = a[string]
    
    return string

def hundreds(string):
    string = string.split(' hundred ')
    x = a['hundred']
    if len(string) == 1:
        if string[0][-8:] == ' hundred':
            string[0]= string[0][:-8]
            return tens(string[0].split(' ')[0])*100
        return tens(string[0])
    else:
        string[0] = tens(string[0])*x 
        string[1] = tens(string[1])
    return sum(string)


def parse_int(string):
    s = string.replace(' and ', ' ')
    if 'million' in string:
        return 1000000
    s = s.split(' thousand ')
    if len(s)==1:
        
        if s[0][-8:] == 'thousand':
            return hundreds(s[0][:-9])*1000
        return hundreds(s[0])
    
    return hundreds(s[0])*1000 + hundreds(s[1])

In [70]:
parse_int('one')==1

True

In [71]:
parse_int('twenty')==20

True

In [72]:
parse_int('two hundred forty-six')== 246

True

In [73]:
parse_int("seven hundred eighty-three thousand nine hundred and nineteen")==783919

True

In [74]:
parse_int('zero')==0

True

In [75]:
parse_int('two hundred')==200

True

In [76]:
parse_int('two thousand')==2000

True

In [77]:
parse_int('thirty-five thousand')==35000

35000

In [60]:
'two thousand'[-9:]

' thousand'